*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    margin-top:7%;
    background-color: black;
}

.time{
    border:5px solid white;
    border-radius: 50%;
    padding:10% 0 10% 0 ;
    width:45%;
    margin:auto;
    

}
.innercircle{
    display: flex;
    text-align: center;
    width:80%;
    margin: auto;
    align-items: baseline;
}
.text{
    text-align: center;
    padding:10% 0 10% 0;
    color:white;
    font-size: 4vw;
}
.hour{
    font-size: 7vw;
}
.min{
    font-size: 6vw;
}
.sec{
    font-size: 5vw;
}
.milli{
    font-size: 4vw;
}


.container{
    margin-top: 30%;
    width:80%;
    margin:auto;
    text-align: center;
}
h1{
    padding-bottom: 5%;
    color:white;
    font-size: 12vw;
}
.button{
    padding-bottom: 10%;
    border:none;
}
button{
    padding:2%;
    height:60px;
    margin-inline:2%;
    border-radius: 50%;
    color:white;
    background-color: black;
    font-size:6vw
}
button:hover{
    color:black;
    background-color: white;
    cursor:pointer;
    font-size: 8vw;
    height:80px;

}
@media (max-width:1000px){
    body{
        margin-top: 40%;
    }
    
}
@media (max-width:520px){
    .innercircle{
        width:90%;
        vertical-align: middle;
        margin-top:8%;
        text-align: center;
    
    }
    .time{
        width:55%;
        padding:15% 0   15% 0;
    }
    .hour{
        font-size: 11vw;       
    }
    .min{
        font-size: 9vw;
    }
    .sec{
        font-size: 7vw;
    }
    .milli{
        font-size: 5vw;
    }
}
